master_hostname=LM-SHC-16502875
yarn-site.xml#yarn.nodemanager.resource.memory-mb=4000
yarn-site.xml#yarn.nodemanager.resource.cpu-vcores=2
yarn-site.xml#yarn.scheduler.maximum-allocation-vcores=2
yarn-site.xml#yarn.scheduler.maximum-allocation-mb=4000
yarn-site.xml#yarn.nodemanager.local-dirs=/Users/lzhang32/Documents/zly/hadoop_data/nm
hdfs-site.xml#dfs.namenode.name.dir=/Users/lzhang32/Documents/zly/hadoop_data/nn
hdfs-site.xml#dfs.datanode.data.dir=/Users/lzhang32/Documents/zly/hadoop_data/dn
capacity-scheduler.xml#yarn.scheduler.capacity.resource-calculator=org.apache.hadoop.yarn.util.resource.DominantResourceCalculator
mapred-site.xml#hadoop_home=/usr/local/Cellar/hadoop/3.0.0/
