master_hostname=sr603
yarn-site.xml#yarn.nodemanager.resource.memory-mb=360000
yarn-site.xml#yarn.nodemanager.resource.cpu-vcores=112
yarn-site.xml#yarn.scheduler.maximum-allocation-vcores=112
yarn-site.xml#yarn.scheduler.maximum-allocation-mb=360000
yarn-site.xml#yarn.nodemanager.local-dirs=/mnt/DP_disk2/Beaver/hadoop/data/nm,/mnt/DP_disk3/Beaver/hadoop/data/nm,/mnt/DP_disk4/Beaver/hadoop/data/nm,/mnt/DP_disk5/Beaver/hadoop/data/nm,/mnt/DP_disk6/Beaver/hadoop/data/nm,/mnt/DP_disk7/Beaver/hadoop/data/nm,/mnt/DP_disk8/Beaver/hadoop/data/nm
hdfs-site.xml#dfs.namenode.name.dir=/mnt/DP_disk1/Beaver/hadoop/data/nn
hdfs-site.xml#dfs.datanode.data.dir=/mnt/DP_disk2/Beaver/hadoop/data/dn,/mnt/DP_disk3/Beaver/hadoop/data/dn,/mnt/DP_disk4/Beaver/hadoop/data/dn,/mnt/DP_disk5/Beaver/hadoop/data/dn,/mnt/DP_disk6/Beaver/hadoop/data/dn,/mnt/DP_disk7/Beaver/hadoop/data/dn,/mnt/DP_disk8/Beaver/hadoop/data/dn
capacity-scheduler.xml#yarn.scheduler.capacity.resource-calculator=org.apache.hadoop.yarn.util.resource.DominantResourceCalculator
mapred-site.xml#hadoop_home=/opt/Beaver/hadoop
